<% include ./partials/header%>


    <div class="container ">
            <div class="row form-box mt-4">
                    <div class="col-md-4 form-left"></div>
                    <div class="col-md-8 text-center bg-form">
                                    
                                            <h1 class="form-title">Government Login</h1>
                                        <form class="text-center" action="/gov/login" method="POST">
                                            <div class="form-row justify-content-center">
                                              <div class="form-group col-md-10">
                                                <input type="text" class="form-control" id="inputName" placeholder="Username" name="uname" required>
                                              </div>
                                              
                                            </div>
                                            <div class="form-row justify-content-center">
                                                <div class="form-group col-md-10">
                                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                                                  </div>
                                                </div>
                                            
                                                <div class="form-row justify-content-center">
                                    
                                                    
                                            
                                                
                                                        
                                            </div>
                                            
                                            
                                            <button type="submit" class="btn btn-primary mb-2">Sign in</button>
                                          </form>
                                    
                                
                    </div>
                </div>
    
    </div>


<% include ./partials/footer%>